%body
  %header.header-wrap
    .container
      .row
        .menu-item-wap
          %ul
            %li
              = link_to "Dashboard", admins_dashboard_index_path
            %li
              = link_to "Categories", admins_categories_path
            %li
              = link_to "Products", admins_products_path
            %li
              = link_to "Orders", admins_orders_path